  <!-- encabezado -->
  <div class="container-fluid row text-center altura m-0">
    <div class=" col-lg d-flex flex-column justify-content-center">
      <p class="fs-5 fw-semibold text">Hi, i am</p>
      <p class="fs-2 fw-semibold text1">Nahuel</p>
       <p class="fs-6 fw-semibold text2">{{ miPorfolio.soy}}</p>
    </div>
    <div class="col text-center m-auto">
      <img src="../../../assets/1672681463677.jpg" alt="foto de perfil" class="img_perfil"> 
      <!-- <img [src]="miPorfolio.picture" class="rounded foto" alt="propetario"> -->
    </div>
  </div>
