
.img_perfil{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.text{
    font-size: 40px!important;
}


.text1{
    font-size: 70px!important;
}


.text2{
    font-size: 40px!important;
}

.loading{
    position: absolute;
}
.iconLoading{
    width: 200px;
}