 <!-- navbar -->
 <div class="container-fluid bg-dark">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-white" href="#">Argentina Programa</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{redes_port.instagram}}"><img src="../../../assets/iconfinder-social-media-applications-3instagram-4102579_113804.png" alt="icon-instagram" class="img_icon"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{redes_port.linkedin}}"><img src="../../../assets/in_linked_linkedin_media_social_icon_124259.png" alt="icon-linkedin" class="img_icon"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{redes_port.github}}"><img src="../../../assets/github_logo_icon_188438.png" alt="icon-github" class="img_icon"></a>
          </li>
          <li class="nav-item">
            <i *ngIf="login" (click)="onClickIcon()" class="fa-solid fa-pencil text-end container-fluid bg-dark editar"></i>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-dark" type="button" (click)="onClick()">{{(login)? 'Cerrar Sesion' : 'Ingresar'}}</button>
        </form>
      </div>
    </div>
  </nav>
</div>
